<div>
    <p>{{deliveryMan}} você tem uma nova entrega, o produto já está disponivel para retirada.</p>
    <p><strong>Produto</strong>: {{product}}</p>
     <p><strong>Receptador</strong>: {{recipient}}</p>
    <p>Endereço da entrega</p>
    <ul>
        <li><p><strong>Estado</strong>: {{state}}</p></li>
        <li><p><strong>Cidade</strong>: {{city}}</p></li>
        <li><p><strong>CEP</strong>: {{cep}}</p></li>
        <li><p><strong>Rua</strong>: {{street}}</p></li>
        <li><p><strong>Complemento</strong>: {{complement}}</p></li>
    </ul>
</div>